* {
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
}

.intro {
    height: 100vh;
    color: #f9fafe;
    background-image: url("./IMG/intro.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}
.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    mix-blend-mode: multiply;
    background-color: #555555;
    z-index: -1;
}
.container {
    width: 1200px;
    margin: 0 auto;
  }
.container--text-center {
    text-align: center;
}
.intro__title {
    font-family: Raleway;
    font-size: 72px;
    font-weight: 700; 
    /* можно font-weight указывать как bold, regular и тд */
    line-height: 1;
    letter-spacing: 5.76px;
    margin-bottom: 30px;
}
.intro__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.form {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.intro__form {
    width: 64%;
    margin: 90px auto 0;
}

.form__field {
width: 100%;
border: none;
font-size: 14px;
text-transform: uppercase;
padding: 0 10px;
}

.form__btn {
    width: 200px;
    height: 60px;
    border-radius: ;
}

.btn,
.form__btn {
    display: inline-flex;
    cursor: pointer;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    border: none;
    align-items: center;
    justify-content: center;
}

.btn__bordered {
    border-radius: 5px;
}

.btn-accent {
    background-color: #e7434e;
    color: #ffffff;
}
.btn-accent__icon {
    height: 16px;
    margin-right: 7px;
}
  
.btn-accent__icon path {
    fill: #fff;
}

.statistics {
    width: 1200px;
    height: 140px;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(52, 52, 52, 0.15);
    background-color: #ffffff;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translate(0, -50%);
}

.statistics__item {
    width: 25%;
    border-right: 1px solid #717171;
}
.statistics__item--rightborder {
    border: none;
}

.statistics__amnt {
    color: #343434;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.2px;
}
.statistics__desc {
    color: #717171;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: 0.36px;
}